@charset "UTF-8";
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  position: fixed;
  background-color: #a0522d;
  padding: 10px;
  width: 100%;
  top: 0;
  border-bottom: 10px solid #cd853f;
  z-index: 1000;
  margin: 0;
  height: 80px;
}
header .nav_cafe {
  height: 60px;
  text-align: center;
}
@media screen and (max-width: 767px) {
  header .nav_cafe {
    display: none;
    width: 100%;
    height: 500px;
    background-color: #a0522d;
    opacity: 0.9;
  }
  header .nav_cafe.open {
    display: block;
  }
}
header .nav_cafe ul {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
@media screen and (max-width: 767px) {
  header .nav_cafe ul {
    display: block;
    position: absolute;
    top: 60px;
  }
}
header .nav_cafe ul li {
  width: 150px;
}
@media screen and (max-width: 767px) {
  header .nav_cafe ul li {
    padding: 30px;
    width: 100%;
    text-align: right;
    padding-right: 100px;
  }
}
header .nav_cafe ul li a {
  font-size: 25px;
}

.header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
}
.header-flex h1 {
  width: 200px;
  z-index: 900;
  position: absolute;
  top: 10px;
}
@media screen and (max-width: 767px) {
  .header-flex h1 {
    width: 100px;
    position: absolute;
    top: 20px;
    left: 20px;
  }
}

.openbtn1 {
  display: none;
}
@media screen and (max-width: 767px) {
  .openbtn1 {
    position: relative;
    /*ボタン内側の基点となるためrelativeを指定*/
    background: #a0522d;
    cursor: pointer;
    width: 60px;
    height: 50px;
    border-radius: 5px;
    margin: 0 0 0 auto;
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    /*ボタン内側*/
  }
  .openbtn1 span {
    display: inline-block;
    transition: all 0.4s;
    /*アニメーションの設定*/
    position: absolute;
    left: 14px;
    height: 3px;
    border-radius: 2px;
    background: #fff;
    width: 45%;
  }
  .openbtn1 span:nth-of-type(1) {
    top: 15px;
  }
  .openbtn1 span:nth-of-type(2) {
    top: 23px;
  }
  .openbtn1 span:nth-of-type(3) {
    top: 31px;
  }
  .openbtn1.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
  }
  .openbtn1.active span:nth-of-type(2) {
    opacity: 0;
  }
  .openbtn1.active span:nth-of-type(3) {
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
  }
}

.nav-link {
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

a:hover {
  color: #fff;
  text-decoration: underline;
}

a:link {
  color: #fff;
}

a:visited {
  color: #fff;
}

a:active {
  color: #fff;
}

#cafe-main {
  height: 725px;
  width: 100%;
  background-image: url(images/ogasuta458A7755_TP_V@2x.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-top: 70px;
}
@media screen and (max-width: 767px) {
  #cafe-main {
    height: 400px;
  }
}
#cafe-main span {
  font-family: serif;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: #fff;
  text-align: center;
  text-shadow: 1px 2px 1px #a0522d;
}
@media screen and (max-width: 767px) {
  #cafe-main span {
    font-size: 30px;
  }
}

h2 {
  text-align: center;
  font-size: 24px;
  margin: 20px auto 80px 0;
  font-family: serif;
  color: #a0522d;
}

section {
  width: 100%;
  padding-bottom: 80px;
  padding-top: 50px;
}
section #menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  gap: 20px;
  padding: 0 20px;
}
@media screen and (max-width: 767px) {
  section #menu {
    display: block;
    max-width: 500px;
    margin: 50px auto;
  }
}
section .cafe-menu {
  flex: 1;
  position: relative;
  margin-bottom: 50px;
}
section .cafe-menu .menu-label {
  position: relative;
}
section .cafe-menu .menu-label .menu-img {
  width: 100%;
}
section .cafe-menu .menu-label p {
  position: absolute;
  top: 0;
  left: 0;
  padding: 8px;
  background-color: #E81943;
  color: #fff;
  width: 80px;
  font-size: 15px;
  text-align: center;
  opacity: 0.8;
}
section .cafe-menu h3 {
  color: #a0522d;
  border-bottom: 5px solid #cd853f;
  font-family: serif;
  font-size: 18px;
  padding: 10px 0;
}
section .cafe-menu p {
  padding: 30px 0;
}
section .cafe-menu .menu-btn {
  text-align: center;
}
section .cafe-menu .menu-btn .menu-more {
  background-color: #a0522d;
  font-size: 13px;
  padding: 15px 70px 15px 70px;
  font-family: serif;
  text-decoration: none;
  display: inline-block;
  width: 200px;
}

#access {
  background-color: #f5f5f5;
  padding: 30px;
}
#access #access-cafe {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  gap: 50px;
}
@media screen and (max-width: 767px) {
  #access #access-cafe {
    display: block;
    max-width: 500px;
    margin: 0 auto;
  }
}
#access #access-cafe #access-img {
  height: 400px;
  width: auto;
}
@media screen and (max-width: 767px) {
  #access #access-cafe #access-img {
    width: 100%;
  }
}
#access #access-logo img {
  width: 250px;
}
#access #access-logo #access-p {
  text-align: left;
  font-size: 20px;
  line-height: 40px;
  margin-top: 30px;
}
#access #access-logo #access-btn {
  text-align: left;
  margin-top: 60px;
}
@media screen and (max-width: 767px) {
  #access #access-logo #access-btn {
    margin-bottom: 40px;
    width: 100%;
    text-align: center;
  }
}
#access #access-logo #access-btn #access-a {
  padding: 20px 50px 20px 50px;
  background-color: #a0522d;
  border-radius: 20px;
  text-decoration: none;
}
@media screen and (max-width: 767px) {
  #access #access-logo #access-btn #access-a {
    padding: 20px 60px;
  }
}
#access #access-logo #access-btn img {
  width: 20px;
  margin: 0 10px;
}

#back-btn {
  padding: 30px 10px;
  background-color: #a0522d;
  color: #fff;
  text-decoration: none;
  border-radius: 15%;
  font-size: 50px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  text-align: center;
  width: 120px;
  opacity: 1;
  transition-duration: 0.5s;
}
@media screen and (max-width: 767px) {
  #back-btn {
    width: 50px;
    font-size: 20px;
    height: 50px;
    padding: 15px 0 10px 0;
  }
}

footer {
  width: 100%;
  text-align: center;
  padding: 20px;
  background-color: #ffdab9;
}
footer #copyright {
  font-size: 16px;
  color: #a0522d;
  font-weight: bold;
}

form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 8px;
}

input, textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}/*# sourceMappingURL=cafe.css.map */